@mixin flex-box {
  display: flex;
  align-items: center;
  &.x-center {
    justify-content: center;
  }
  &.x-start {
    justify-content: flex-start;
  }
  &.x-end {
    justify-content: flex-end;
  }
  &.around {
    justify-content: space-around;
  }
  &.between {
    justify-content: space-between;
  }
  &.y-start {
    align-items: flex-start;
  }
  &.y-end {
    align-items: flex-end;
  }
}

@mixin main-box {
  height: calc(100% - 24px);
  margin: 6px;
  padding: 6px;
  background: #fff;
}