$colorPurple: #626aef;
$colorHotpink: hotpink;
// sidebar
$asideWidth: 200px;
$asideBgColor: #fff;
$menuText: #162B64;
$menuActiveText: #626aef;

// header
$headerHeight: 60px;
$headerBgColor: #fff;

// main
$mainBgColor: #f5f7fa;
