body {
  // height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  position: relative;
  *:focus-visible {
    outline: none;
  }
  
}
body::-webkit-scrollbar{
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: lightgray;
  height: 50px;
  border-radius: 5px;
}

#app {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}